<!DOCTYPE html>
<html>
<head>
  <title>ActiveadminSelleoCms</title>
  <%= stylesheet_link_tag    "activeadmin-selleo-cms/application", :media => "all" %>
  <%= javascript_include_tag "activeadmin-selleo-cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
