- if @locale and @locale.update_attributes(params[:locale], as: :admin)
    $('#locales.index input[data-id="#{@locale.id}"]').closest('td').effect('highlight');
- else
    alert('#{t("errors.ajax.update.unknown_error")}');
