div.translation > input {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-border-image: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: #C9D0D6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #C9D0D6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #C9D0D6;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #C9D0D6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    cursor: auto;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    height: 13px;
    letter-spacing: normal;
    line-height: normal;
    outline-color: black;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    width: 220px;
    word-spacing: 0px;
}

table#translations td.key {
    padding-top: 16px;
}